<h2>Executive Dashboard</h2>

<div class="row">
	
	<div class="span9 ">
		<div class="header_style">
				Priorities List
		</div>
		<div class="gray_border">
			<table class="table table-bordered">
				<thead class="green_header">
					<th></th>
					<th>Priorities</th>
					<th>Next Steps</th>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Priority 1</td>
						<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus ligula ligula, ut sollicitudin odio. Phasellus nisi mi, pellentesque id volutpat feugiat, consequat vel dolor</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Priority 2</td>
						<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus ligula ligula, ut sollicitudin odio. Phasellus nisi mi, pellentesque id volutpat feugiat, consequat vel dolor</td>
	
					</tr>
					<tr>
						<td>3</td>
						<td>Priority 3</td>
						<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus ligula ligula, ut sollicitudin odio. Phasellus nisi mi, pellentesque id volutpat feugiat, consequat vel dolor</td>
	
					</tr>
					<tr>
						<td>4</td>
						<td>Priority 4</td>
						<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus ligula ligula, ut sollicitudin odio. Phasellus nisi mi, pellentesque id volutpat feugiat, consequat vel dolor</td>
	
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
	
	
	<div class="span3">
		<div class="header_style">
			Score Cards
		</div>
		<div class="gray_border">
			<ul id="score_card_franchise">
				<li>Franchise 1</li>
				<li>Franchise 2</li>
				<li>Franchise 3</li>
			</ul>
			<ul id="score_card_grade">
				<li><a class="btn btn-success" rel="popover" data-content="This franchise has acheived a score of 'A'.  Click <a href='#'>here</a> for more details." data-original-title="Franchise Grades" >A</a></li>
				<li><a class="btn btn-danger" rel="popover" data-content="This franchise has acheived a score of 'B'.  Click <a href='#'>here</a> for more details." data-original-title="Franchise Grades" >B</a></li>
				<li><a class="btn btn-success" rel="popover" data-content="This franchise has acheived a score of 'A'.  Click <a href='#'>here</a> for more details." data-original-title="Franchise Grades" >A</a></li>
			</ul>
		</div>
	</div>		
		
	
</div>


<div class="row">
	<div class="span6 pull-left">
		<div class="header_style">
			Human Resources
			<span class="pull-right view_more dark_font"><a href="#">view more</a></span>
		</div>
		<div class="gray_border">
			<div>
				<h4>Here is some content related to Human Resources</h4>
				<table class="table table-bordered">
					<thead class="green_header">
						<th>First Name</th>
						<th>Last Name</th>
					</thead>
					<tbody>
						<tr>
							<td>John</td>
							<td>Doe</td>
						</tr>
						<tr>
							<td>Sarah</td>
							<td>Jane</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="no_display">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius scelerisque accumsan. Donec laoreet placerat aliquam. Sed ultrices, odio et tristique condimentum, libero est ornare tortor, bibendum elementum velit eros vitae ante. Cras viverra rutrum pretium. Integer convallis hendrerit dui, a ultricies velit venenatis vitae. Morbi tristique rhoncus blandit. Phasellus vitae tristique nunc. Nulla facilisi. Fusce ut libero vitae purus pellentesque fringilla. Donec dictum ullamcorper ligula, et mattis velit fringilla id. Sed pellentesque tristique nunc, eu pellentesque nibh consectetur eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div>
			
		</div>
		
	</div>
	
	<div class="span6 pull-left">
		<div class="header_style">
			Finance
			<span class="pull-right view_more dark_font"><a href="#">view more</a></span>
		</div>
		<div class="gray_border">
			<div>
				<table class="table table-bordered">
					<thead class="green_header">
						<th>Franchise</th>
						<th>Q1</th>
						<th>Q2</th>
						<th>Q3</th>
						<th>Q4</th>
					</thead>
					<tbody>
						<tr>
							<td>Franchise 1</td>
							<td>$15,000</td>
							<td>$22,560</td>
							<td>$14,233</td>
							<td>$21,643</td>
						</tr>
						<tr>
							<td>Franchise 2</td>
							<td>$15,000</td>
							<td>$22,560</td>
							<td>$14,233</td>
							<td>$21,643</td>
						</tr>
						<tr>
							<td>Franchise 3</td>
							<td>$15,000</td>
							<td>$22,560</td>
							<td>$14,233</td>
							<td>$21,643</td>
						</tr>
						
					</tbody>
				</table>
			</div>
			
			<div class="no_display">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius scelerisque accumsan. Donec laoreet placerat aliquam. Sed ultrices, odio et tristique condimentum, libero est ornare tortor, bibendum elementum velit eros vitae ante. Cras viverra rutrum pretium. Integer convallis hendrerit dui, a ultricies velit venenatis vitae. Morbi tristique rhoncus blandit. Phasellus vitae tristique nunc. Nulla facilisi. Fusce ut libero vitae purus pellentesque fringilla. Donec dictum ullamcorper ligula, et mattis velit fringilla id. Sed pellentesque tristique nunc, eu pellentesque nibh consectetur eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div>
			
		</div>
		
		
		
	</div>
	
	
	
	
	
	
	
		
	
</div>


<div class="row">
	<div class="span6">
		<div class="header_style">
			Sales & Marketing
			<span class="pull-right view_more dark_font"><a href="#">view more</a></span>
		</div>
		<div class="gray_border">
			<div>
				<h4>Details on Sales and Marketing</h4>
				<ul class="graph">
					<li class="percent20">20%</li>
					<li class="percent40">40%</li>
					<li class="percent60">60%</li>
					<li class="percent80">80%</li>
					<li class="percent100">100%</li>
				</ul>
				
			</div>
			<div class="no_display">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius scelerisque accumsan. Donec laoreet placerat aliquam. Sed ultrices, odio et tristique condimentum, libero est ornare tortor, bibendum elementum velit eros vitae ante. Cras viverra rutrum pretium. Integer convallis hendrerit dui, a ultricies velit venenatis vitae. Morbi tristique rhoncus blandit. Phasellus vitae tristique nunc. Nulla facilisi. Fusce ut libero vitae purus pellentesque fringilla. Donec dictum ullamcorper ligula, et mattis velit fringilla id. Sed pellentesque tristique nunc, eu pellentesque nibh consectetur eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div>
		</div>
		
	</div>
	
	<div class="span6">
		<div class="header_style">
			Production
			<span class="pull-right view_more dark_font"><a href="#">view more</a></span>
		</div>
		<div class="gray_border">
			<div>
				<h4>Details on Production</h4>
				<img id="pie_chart" src="/assets/pie_chart.png">
			</div>
			<div class="no_display">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius scelerisque accumsan. Donec laoreet placerat aliquam. Sed ultrices, odio et tristique condimentum, libero est ornare tortor, bibendum elementum velit eros vitae ante. Cras viverra rutrum pretium. Integer convallis hendrerit dui, a ultricies velit venenatis vitae. Morbi tristique rhoncus blandit. Phasellus vitae tristique nunc. Nulla facilisi. Fusce ut libero vitae purus pellentesque fringilla. Donec dictum ullamcorper ligula, et mattis velit fringilla id. Sed pellentesque tristique nunc, eu pellentesque nibh consectetur eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div>
		</div>
		
	</div>
</div>


<div class="row">
	<div class="span6">
		<div class="header_style">
			Administration
			<span class="pull-right view_more dark_font"><a href="#">view more</a></span>
		</div>
		<div class="gray_border">
			<div>
				<h4>Details on Administration</h4>
			</div>
			<div class="no_display">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius scelerisque accumsan. Donec laoreet placerat aliquam. Sed ultrices, odio et tristique condimentum, libero est ornare tortor, bibendum elementum velit eros vitae ante. Cras viverra rutrum pretium. Integer convallis hendrerit dui, a ultricies velit venenatis vitae. Morbi tristique rhoncus blandit. Phasellus vitae tristique nunc. Nulla facilisi. Fusce ut libero vitae purus pellentesque fringilla. Donec dictum ullamcorper ligula, et mattis velit fringilla id. Sed pellentesque tristique nunc, eu pellentesque nibh consectetur eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</div>
		</div>
		
	</div>
</div>


	
	
	

