/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 
*/

@import "bourbon";
@import "bootstrap";


@mixin green_gradient {
	background: rgb(35,108,59); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(35,108,59,1) 0%, rgba(49,153,84,1) 86%, rgba(51,159,87,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,108,59,1)), color-stop(86%,rgba(49,153,84,1)), color-stop(100%,rgba(51,159,87,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(35,108,59,1) 0%,rgba(49,153,84,1) 86%,rgba(51,159,87,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(35,108,59,1) 0%,rgba(49,153,84,1) 86%,rgba(51,159,87,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(35,108,59,1) 0%,rgba(49,153,84,1) 86%,rgba(51,159,87,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(35,108,59,1) 0%,rgba(49,153,84,1) 86%,rgba(51,159,87,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#236c3b', endColorstr='#339f57',GradientType=0 ); /* IE6-9 */

}

@mixin gray_gradient {
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}


@mixin background_gradient {
	
	background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	
}


/* universal */


body {	
  	//padding-top: 10px;  	
  	@include background_gradient;
  	
}




/* Custom */

.container {
	margin-top: 40px;
	
	@include border-radius(10px);
	@include box-shadow(0 0 5px 2px hsla(0, 0%, 0%, 0.45));
	padding: 10px 10px 40px 10px;
	background: white;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#nav_container {
	float: right;	
}

#nav {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		float: left;	
		margin-right: 0.8em;	
		
		a {		
			font-size: 1.2em;	
			color: #666;
		}
	}
}


#score_card_franchise {
	
	background: #F5F5F5;
	list-style: none;	
	float: left;
	margin: 0;
	padding: 0;
	margin-right: 5px;
	font-size: 1.5em;
	
	li {
		margin: 10px 0;
		padding: 5px;
		border-bottom: 1px solid #c2c2c2; 
	}
}


#score_card_grade {
	 
	text-align: center;
	background: #F5F5F5;
	list-style: none;	
	font-size: 1.5em;
	
	li {	
		padding: 5px;	
		border-bottom: 1px solid #c2c2c2;
		
		a {
			font-size: 1.2em;
		}	
	}
}

th {	
	color: white;
	@include gray_gradient;
	
}

h2 {	
	font-size: 1.8em;
	margin-bottom: -5px;
}


img.logo_image {
	width: 150px;
	height: auto;
	
}


.green_header {	
	padding: 5px;
	border: 1px solid #666;
	margin-top: 20px;
	color: white;
	font-size: 1.5em;
	height: 30px;
	@include border-radius(4px 4px 0 0);
	@include green_gradient;
		
}

.gray_border {	
	padding: 10px;
	border: 1px solid #666;
	
	@include border-radius(0 0 5px 5px);
	
	
}


.no_display {
	display: none;
	
}

span.view_more {
	a {
		font-size: 0.8em;
		color: white;
		cursor: pointer;
	}
	
}


#pie_chart {		
	width: 130px;	
	height: auto;
}



ul.graph
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.graph li
{
	margin-bottom: .5em;
	padding: .2em;
	background: #600;
	color: #fff;
}

ul.graph li.percent20
{
	background: url('/assets/graph20.jpg') repeat-y 20% 0;
}

ul.graph li.percent40
{
	background: url('/assets/graph40.jpg') repeat-y 40% 0;
}

ul.graph li.percent60
{
	background: url('/assets/graph60.jpg') repeat-y 60% 0;
}

ul.graph li.percent80
{
	background: url('/assets/graph80.jpg') repeat-y 80% 0;
}
